<header>
    <h1>Calculadora básica en JS</h1>
</header>
<main>

    <label class="hidden" for="screen"></label>
    <input type="text" name="screen" id="screen">

    <div class="numbers">

        <input type="button" value="7" name="seven" id="seven">
        <label class="hidden" for="seven"></label>

        <input type="button" value="8" name="eight" id="eight">
        <label class="hidden" for="eight"></label>

        <input type="button" value="9" name="nine" id="nine">
        <label class="hidden" for="nine"></label>

        <input type="button" value="4" name="four" id="four">
        <label class="hidden" for="four"></label>

        <input type="button" value="5" name="five" id="five">
        <label class="hidden" for="five"></label>

        <input type="button" value="6" name="six" id="six">
        <label class="hidden" for="six"></label>

        <input type="button" value="1" name="one" id="one">
        <label class="hidden" for="one"></label>

        <input type="button" value="2" name="two" id="two">
        <label class="hidden" for="two"></label>

        <input type="button" value="3" name="three" id="three">
        <label class="hidden" for="three"></label>

        <input type="button" value="0" name="zero" id="zero">
        <label class="hidden" for="zero"></label>

    </div>

    <div class="operators">
        <input type="button" value="+" name="add" id="add">
        <label class="hidden" for="add"></label>

        <input type="button" value="-" name="subtract" id="subtract">
        <label class="hidden" for="subtract"></label>

        <input type="button" value="*" name="multiply" id="multiply">
        <label class="hidden" for="multiply"></label>

        <input type="button" value="/" name="divide" id="divide">
        <label class="hidden" for="divide"></label>

        <input type="button" value="<-" name="remove" id="remove">
        <label class="hidden" for="remove"></label>

        <input type="button" value="C" name="reset" id="reset">
        <label class="hidden" for="reset"></label>

        <input type="button" value="=" name="calculate" id="calculate">
        <label class="hidden" for="calculate"></label>
    </div>

</main>