<header>
    <h1>Calculadora básica en JS</h1>
</header>
<main>

    <p id="screen-calculator"></p>

    <div class="numbers">

        <input class="calculator-buttons" type="button" value="7" name="seven" id="seven">
        <label for="seven"></label>

        <input class="calculator-buttons" type="button" value="8" name="eight" id="eight">
        <label for="eight"></label>

        <input class="calculator-buttons" type="button" value="9" name="nine" id="nine">
        <label for="nine"></label>

        <input class="calculator-buttons" type="button" value="4" name="four" id="four">
        <label for="four"></label>

        <input class="calculator-buttons" type="button" value="5" name="five" id="five">
        <label for="five"></label>

        <input class="calculator-buttons" type="button" value="6" name="six" id="six">
        <label for="six"></label>

        <input class="calculator-buttons" type="button" value="1" name="one" id="one">
        <label for="one"></label>

        <input class="calculator-buttons" type="button" value="2" name="two" id="two">
        <label for="two"></label>

        <input class="calculator-buttons" type="button" value="3" name="three" id="three">
        <label for="three"></label>

        <input class="calculator-buttons" type="button" value="0" name="zero" id="zero">
        <label for="zero"></label>

    </div>

    <div class="operators">
        <button class="calculator-buttons" id="add" value="+">+</button>

        <button class="calculator-buttons" id="substract" value="-">-</button>

        <button class="calculator-buttons" id="multiply" value="*">*</button>

        <button class="calculator-buttons" id="divide" value="/">/</button>

        <button id="remove">Remove</button>

        <button id="reset">C</button>

        <button id="calculate">=</button>
    </div>

</main>