<header>
    <h1>Calculadora básica en JS</h1>
</header>
<main>

    <p id="screen-calculator"></p>

    <div class="numbers">
        <button class="calculator-buttons" value="7" type="text">7</button>
        <button class="calculator-buttons" value="8" type="text">8</button>
        <button class="calculator-buttons" value="9" type="text">9</button>
        <button class="calculator-buttons" value="4" type="text">4</button>
        <button class="calculator-buttons" value="5" type="text">5</button>
        <button class="calculator-buttons" value="6" type="text">6</button>
        <button class="calculator-buttons" value="1" type="text">1</button>
        <button class="calculator-buttons" value="2" type="text">2</button>
        <button class="calculator-buttons" value="3" type="text">3</button>
        <button class="calculator-buttons" value="0" type="text">0</button>

    </div>

    <div class="operators">
        <button class="calculator-buttons" id="add" value="+">+</button>
        <button class="calculator-buttons" id="substract" value="-">-</button>
        <button class="calculator-buttons" id="multiply" value="*">*</button>
        <button class="calculator-buttons" id="divide" value="/">/</button>
        <button id="remove">
            <img src="arrow.svg" alt="Borrar la última cifra">
        </button>
        <button id="reset">C</button>
        <button id="calculate">=</button>
    </div>

</main>